{% extends 'portfolioapp/base.html' %}
{% load static %}

{% block content %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
{% for item in about %}
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>{{ item.title_1 }}</h3>
                  <p>{{ item.body_1 }}</p>
                  <h3>{{ item.title_2 }}</h3>
                  <p>{{ item.body_2 }}</p>
                  <h3>{{ item.title_3 }}</h3>
                  <p>{{ item.body_2 }}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="{{item.image.url}}" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
{% endfor %}

       </div>
      </div>
    </div>
  </div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
{% endblock %}