{% extends 'portfolioapp/base.html' %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{{ work.upper_image.url }}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">00{{ work.id }} : {{ work.title }}</h1>
          </div>
          <p>{{work.body}}</p>

          <blockquote>
            <p>"{{ work.body_title }}"</p>
            <small class="pull-right">Irina Martin</small>
          </blockquote>
        </div>
      </div>



      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="{{ work.first_body_image.url }}" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="{{ work.second_body_image.url }}" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="{{ work.third_body_image.url }}" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

{% endblock %}