{% extends 'portfolioapp/base.html' %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Fringilla sit amet</h1>
          </div>
          <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies, nisl nunc pulvinar ligula, id sodales arcu sapien in nisi. Quisque libero enim, mattis non augue posuere, venenatis dapibus urna.</p>

          <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <small class="pull-right">Irina Martin</small>
          </blockquote>
        </div>
      </div>



      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./assets/images/work001-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./assets/images/work001-03.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./assets/images/work001-04.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

{% endblock %}